#
# OpenWrt Configuration
#
# Select the target platform
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_xiaomi_ax3600=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_xiaomi_ax3600="kmod-ath10k kmod-ath11k-ahb"
CONFIG_ATH11K_MEM_PROFILE_512M=y
# Essential NSS config (+ forked changes)
CONFIG_ATH11K_NSS_SUPPORT=y
CONFIG_PACKAGE_nss-firmware-ipq8074=y
CONFIG_PACKAGE_nss-eip-firmware=y
CONFIG_PACKAGE_MAC80211_NSS_SUPPORT=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-nss-ifb=y
CONFIG_PACKAGE_kmod-qca-nss-dp=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-ecm=y
# Ath11k + Ath10k combo essential config
CONFIG_PACKAGE_MAC80211_NSS_REDIRECT=y
# Target dependant NSS config
CONFIG_NSS_MEM_PROFILE_MEDIUM=y
# Additional NSS config (+ forked changes)
CONFIG_PACKAGE_dnsmasq=m
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-authenc=y
CONFIG_PACKAGE_kmod-crypto-cbc=y
CONFIG_PACKAGE_kmod-crypto-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-deflate=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-ecb=m
CONFIG_PACKAGE_kmod-crypto-echainiv=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-sha1=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-crypto-test=y
CONFIG_PACKAGE_kmod-cryptodev=m
CONFIG_PACKAGE_kmod-qca-nss-cfi-cryptoapi=y
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_kmod-qca-nss-drv-igs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y
CONFIG_PACKAGE_kmod-qca-ssdk=y
CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_PACKAGE_qca-ssdk-shell=m
# Compiler Optimization
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O3 -pipe -mcpu=cortex-a53+crc+crypto+rdma"
CONFIG_BINUTILS_USE_VERSION_2_42=y
CONFIG_BINUTILS_VERSION="2.42"
CONFIG_BINUTILS_VERSION_2_42=y
CONFIG_GCC_USE_GRAPHITE=y
CONFIG_USE_GC_SECTIONS=y
CONFIG_USE_LTO=y
CONFIG_USE_MOLD=y
CONFIG_ZLIB_OPTIMIZE_SPEED=y
CONFIG_ZSTD_OPTIMIZE_O3=y
# Kernel Config
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_ARM_PMU=y
CONFIG_EXPERIMENTAL=y
CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_BUILD_PATENTED=y
# Additional Configs
CONFIG_FEED_nss=m
CONFIG_FEED_sqm_scripts_nss=m
# Hardening build options
CONFIG_PKG_ASLR_PIE_ALL=y
CONFIG_GCC_DEFAULT_PIE=y
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# SSH Configuration
CONFIG_PACKAGE_dropbear=n
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssh-moduli=y
# SSL Configuration
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_libustream-mbedtls=n
CONFIG_PACKAGE_libopenssl=y
CONFIG_LUA_ECO_OPENSSL=y
CONFIG_LUA_ECO_MBEDTLS=n
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_PACKAGE_luci-ssl-openssl=y
# Additional Packages
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_wpad-basic-mbedtls=n
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-banip=y
CONFIG_PACKAGE_btop=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
# Redundant Default Packages
CONFIG_PACKAGE_kmod-phy-aquantia=n
CONFIG_PACKAGE_kmod-usb-core=n
CONFIG_PACKAGE_kmod-usb-dwc3=n
CONFIG_PACKAGE_kmod-usb-dwc3-qcom=n
CONFIG_PACKAGE_kmod-usb-xhci-hcd=n
CONFIG_PACKAGE_kmod-usb3=n
# Additional Packages Forked (+dnsmasq-full)
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_bzip2=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_collectd=y
CONFIG_PACKAGE_collectd-mod-cpu=y
CONFIG_PACKAGE_collectd-mod-interface=y
CONFIG_PACKAGE_collectd-mod-iwinfo=y
CONFIG_PACKAGE_collectd-mod-load=y
CONFIG_PACKAGE_collectd-mod-memory=y
CONFIG_PACKAGE_collectd-mod-network=y
CONFIG_PACKAGE_collectd-mod-rrdtool=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-cut=y
CONFIG_PACKAGE_coreutils-join=y
CONFIG_PACKAGE_coreutils-sha256sum=y
CONFIG_PACKAGE_coreutils-sort=y
CONFIG_PACKAGE_coreutils-stty=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_dhcpdump=m
CONFIG_PACKAGE_diffutils=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_findutils-find=y
CONFIG_PACKAGE_ip-tiny=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_luci-app-adblock=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-uttpd=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-mod-dashboard=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_pv=y
CONFIG_PACKAGE_sqm-scripts-nss=y
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_xtables-nft=y
