#
# OpenWrt Configuration
#

# Select the target platform
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_xiaomi_ax3600=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_xiaomi_ax3600="kmod-ath10k kmod-ath11k-ahb"

# Essential NSS config (+ forked changes)
CONFIG_ATH11K_NSS_SUPPORT=y
CONFIG_ATH11K_NSS_MESH_SUPPORT=y
CONFIG_PACKAGE_MAC80211_NSS_SUPPORT=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-ecm=y

# Target dependant config
CONFIG_NSS_MEM_PROFILE_HIGH=y
CONFIG_ATH11K_MEM_PROFILE_512M=y

# Additional NSS config (+ forked changes) 
# May need to add kmod-qca-nss-cfi-cryptoapi, kmod-qca-nss-drv-igs and kmod-qca-nss-drv-qdisc
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y
CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-crypto=y

# Ath11k + Ath10k combo essential config
CONFIG_PACKAGE_MAC80211_NSS_REDIRECT=y

# Compiler Optimization
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O3 -pipe -mcpu=cortex-a53+crc+crypto+rdma"
CONFIG_GCC_USE_VERSION_14=y
CONFIG_GCC_VERSION_14=y
CONFIG_GCC_USE_GRAPHITE=y
CONFIG_BINUTILS_USE_VERSION_2_43=y
CONFIG_USE_GC_SECTIONS=y
CONFIG_USE_LTO=y
CONFIG_USE_MOLD=y
CONFIG_ZLIB_OPTIMIZE_SPEED=y
CONFIG_ZSTD_OPTIMIZE_O3=y

# Kernel Config
CONFIG_EXPERIMENTsAL=y
CONFIG_BUILD_PATENTED=y

# Additional Custom Feeds
CONFIG_FEED_nss=m
CONFIG_FEED_sqm_scripts_nss=m

# Hardening build options
CONFIG_PKG_ASLR_PIE_ALL=y
CONFIG_GCC_DEFAULT_PIE=y
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y

# SSH Configuration
CONFIG_PACKAGE_dropbear=n
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssh-moduli=y

# SSL Configuration
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_libustream-mbedtls=n
CONFIG_PACKAGE_libopenssl=y
CONFIG_LUA_ECO_OPENSSL=y
CONFIG_LUA_ECO_MBEDTLS=n
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_OPENSSL_WITH_DEPRECATED=n
CONFIG_PACKAGE_apk-mbedtls=n
CONFIG_PACKAGE_apk-openssl=y

# Additional Packages
CONFIG_PACKAGE_wpad-mesh-openssl=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-banip=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_htop=y
CONFIG_HTOP_LMSENSORS=n
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_kmod-tcp-bbr=y

# Redundant Default Packages
CONFIG_PACKAGE_wpad-basic-mbedtls=n
CONFIG_PACKAGE_kmod-phy-aquantia=n
CONFIG_PACKAGE_kmod-usb-core=n
CONFIG_PACKAGE_kmod-usb-dwc3=n
CONFIG_PACKAGE_kmod-usb-dwc3-qcom=n
CONFIG_PACKAGE_kmod-usb-xhci-hcd=n
CONFIG_PACKAGE_kmod-usb3=n

# Reduce kernel module size
CONFIG_ATH11K_DEBUGFS_HTT_STATS=n
CONFIG_ATH11K_DEBUGFS_STA=n
CONFIG_ATH11K_THERMAL=n

# Additional Fork-Packages
CONFIG_PACKAGE_bzip2=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_collectd=y
CONFIG_PACKAGE_collectd-mod-cpu=y
CONFIG_PACKAGE_collectd-mod-interface=y
CONFIG_PACKAGE_collectd-mod-iwinfo=y
CONFIG_PACKAGE_collectd-mod-load=y
CONFIG_PACKAGE_collectd-mod-memory=y
CONFIG_PACKAGE_collectd-mod-network=y
CONFIG_PACKAGE_collectd-mod-rrdtool=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-cut=y
CONFIG_PACKAGE_coreutils-join=y
CONFIG_PACKAGE_coreutils-sha256sum=y
CONFIG_PACKAGE_coreutils-sort=y
CONFIG_PACKAGE_coreutils-stty=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-freedns=y
CONFIG_PACKAGE_dhcpdump=m
CONFIG_PACKAGE_diffutils=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_dnsmasq=m
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_findutils-find=y
CONFIG_PACKAGE_gawk=y
CONFIG_PACKAGE_grep=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_luci-app-adblock-fast=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-https-dns-proxy=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-uttpd=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_pv=y
CONFIG_PACKAGE_sed=y
CONFIG_PACKAGE_sqm-scripts-nss=y
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_tc-full=y
CONFIG_PACKAGE_tcpdump=y
